<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center"> <!--headline-->
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="card"> <!--parsing and displayin the issues from the json to the page, issue byy issue-->
    <ng-container *ngFor="let item of data.items">
      <h5> <span class="headline">url:</span> {{ item.url }}</h5>
      <h5> <span class="headline">repository_url:</span> {{ item.repository_url }}</h5>
      <h5> <span class="headline">labels_url:</span> {{ item.labels_url }}</h5>
      <h5><span class="headline">comments_url:</span> {{ item.comments_url }}</h5>
      <h5> <span class="headline">events_url:</span> {{ item.events_url }}</h5>
      <h5><span class="headline">html_url:</span> {{ item.html_url }}</h5>
      <h5><span class="headline">id:</span> {{ item.id }}</h5>
      <h5><span class="headline">node_id:</span> {{ item.node_id }}</h5>
      <h5><span class="headline">number:</span> {{ item.number }}</h5>
      <h5><span class="headline">title:</span> {{ item.title }}</h5>
      <h5><span class="headline">user:</span> {{ item.user  | json  : spacing}}</h5>
      <h5><span class="headline">labels:</span> {{ item.labels | json  : spacing }}</h5>
      <h5><span class="headline">state:</span> {{ item.state }}</h5>
      <h5><span class="headline">locked:</span> {{ item.locked }}</h5>
      <h5><span class="headline">assignee:</span> {{ item.assignee | json  : spacing}}</h5>
      <h5><span class="headline">assignees:</span> {{ item.assignees | json  : spacing}}</h5>
      <h5><span class="headline">milestone:</span> {{ item.milestone | json  : spacing }}</h5>
      <h5><span class="headline">comments:</span>: {{ item.comments | json  : spacing}}</h5>
      <h5><span class="headline">created_at:</span> {{ item.created_at }}</h5>
      <h5><span class="headline">updated_at:</span> {{ item.updated_at | json  : spacing}}</h5>
      <h5><span class="headline">closed_at:</span> {{ item.closed_at | json  : spacing}}</h5>
      <h5><span class="headline">author_association:</span> {{ item.author_association }}</h5>
      <h5><span class="headline">body:</span> {{ item.body | json  : spacing}}</h5>
      <h5><span class="headline">score:</span> {{ item.score }}</h5>

      <br>
      <br>
    </ng-container>
  </div>
